# Ignore virtual environment directories
venv/

# Ignore Python cache files and compiled bytecode
__pycache__/
*.pyc

# Ignore VSCode settings folder
.vscode/

# Ignore environment variable files
.env

# Ignore specific Python scripts and notebooks
cleaningpdfs.py
pineconerugby2.ipynb
pineconerugby5.py
pineconeupdate3.py
pineconeupdate4.py
pineconeupdate5.py
transcribeaudio.py
pineconerugby6.py
pineconerugby7.py
